.footer {
	background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
	padding: 80px 0;
	color: $white;
	&__nav {
		margin-top: 10px;
		font-size: 15px;
		font-weight: 400;
		color: $light-gray;
	}
	&__link{
		margin-bottom: 10px;
	}
	&__row-1 {
		margin-bottom: 70px;
	}
	&__row-2 {
		padding-top: 40px;
		border-top: 1px solid $light-gray;
	}
	&__social {
		margin-top: 30px;
	}
	&__fix-size{
		max-width: 128px;
		margin-right: 12px;
	}
	&__col_right{
		text-align: right;
	}
}



@media only screen and (max-width: 1199px){
	.footer{}
}

@media only screen and (max-width: 991px){
	.footer{}
}
	
@media only screen and (max-width: 767px){
	.footer{
		&__fix-size{
			margin: 0 auto;
		}
		&__row-2 {
			text-align: center;
		}
	}
}

@media only screen and (max-width: 575px){
	.footer{}
}
