.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
	.container {
		padding-top: 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	&__mobile-logo{
		display: none;
	}
}

/*
	* Navigation styling
 */

.nav {
	display: flex;
	align-items: center;

	&__item {
		margin-right: 60px;
		font-size: 15px;
		font-weight: bold;
		color: $white;
		cursor: pointer;
		transition: color .3s ease;

		&:hover {
			color: $yellow;
		}
	}
}

/*
 * Navigation styling ends
 */



@media only screen and (max-width: 1199px) {
	.header{}
}


@media only screen and (max-width: 991px) {
	.header{
		&__mobile-logo{
			display: block;
			position: absolute;
			top: 30px;
			left: 35px;
		}
		&__nav {
			display: flex;
			position: fixed;
			right: 100%;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100vh;
			background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
			top: 0;
			transition: right .3s ease;

			.nav__item{
				font-size: 25px;
				margin-right: 0;
				&_absolute{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					.btn{
						width: 100%;
					}
					.text-arrow{
						justify-content: center;
					}
				}
			}

			&.open {
				right: 0;
			}
		}
	}
	.nav{
		flex-direction: column;
		gap: 20px;
	}

}

@media only screen and (max-width: 767px) {
	.header{}
}
@media only screen and (max-width: 575px) {
	.header{}
}