/*
 * Typography stylesheet
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: inherit;
	margin: 0;
	font-style: normal;
	font-weight: normal;
}

p, .p, span {
	color: inherit;
	font-size: 20px;
	line-height: 28px;
	font-weight: inherit;
}
/* p text-body Desk */
.text-body {
	font-weight: 400;
}

/* H1 Desk */
h1, .h1 {
	color: $white;
	font-weight: bold;
	font-size: 80px;
	line-height: 80px;
}

/* H2 Desk */
h2, .h2 {
	font-size: 50px;
	line-height: 48px;
	font-weight: bold;
}
		
/* H3 Desk */
h3, .h3 {
	font-size: 42px;
	line-height: 39px;
	display: inline;
}


/* H4 Desk */
h4, .h4 {
	font-size: 24px;
	line-height: 38px;
	font-weight: bold;
}
/* H5 Desk */
h5, .h5 {
	font-size: 15px;
	line-height: 28px;
	font-weight: 700;
}

/* H6 Desk */
h6, .h6 {
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
}

@media only screen and (max-width: 1199px){
	/* H1 Small Desk */
	h1, .h1 {
			font-size: 50px;
			line-height: 46px;
		}

	/* H2 Small Desk */
	h2, .h2 {
		font-size: 36px;
		line-height: 36px;
	}


	/* H3 Small Desk */
	h3, .h3{
		font-size: 28px;
		line-height: 38px;
	}

	/* H4 Small Desk */
	h4, .h4 {
		font-size: 18px;
		line-height: 24px;
	}

	/*  H5 Small Desk */
	h5, h5 {
		font-size: 20px;
		line-height: 38px;
	}

}
@media only screen and (max-width: 991px){
	/* H1 Tablet */
	h1, .h1 {
			font-size: 36px;
			line-height: 42px;
		}

	
	/* H2 Tablet */
	h2, .h2 {
		font-size: 24px;
		line-height: 32px;
	}


	/* H3 Small Desk */
	h3, .h3{
		font-size: 28px;
		line-height: 38px;
	}

	/* H4 Small Desk */
	h4, .h4 {
		font-size: 24px;
		line-height: 24px;
	}

	/*  H5 Small Desk */
	h5, h5 {
		font-size: 20px;
		line-height: 38px;
	}

	/* P and SPAN Tablet */
	p, .p, span {
		font-size: 16px;
		line-height: 22px;
	}
}

@media only screen and (max-width: 767px){
	/* H1 Mobile */
	h1, .h1 {
			font-size: 32px;
			line-height: 40px;
		}

		
	/* H2 Mobile */
	h2, .h2 {
		font-size: 20px;
		line-height: 39px;
	}


	/* H3 and H5 Mobile */
	h3, .h3,
	h5, h5 {
		font-size: 18px;
		line-height: 31px;
	}
	
	/* H4 Mobile */
	h4, .h4 {
		font-size: 16px;
		line-height: 39px;
	}

	/* P and SPAN Tablet */
	p, .p, span {
		font-size: 14px;
		line-height: 20px;
	}
}