/*
 * Listings section styling
 */

.listings {
	padding-top: 220px;
	padding-bottom: 290px;
	background-color: $background-gray;
	&__title {
		margin-bottom: 60px;
	}
	&__dropdown{
		padding: 50px 30px;
		border-right: 1px solid $light-gray;
	}
	&__dropdown-group {
		background-color: $background;
		border-radius: 45px;
		margin-bottom: 70px;
		.col:last-child {
			.listings__dropdown{
				border-right: none;
			}
		}
	}



}

@media only screen and (max-width: 1199px){
	.listings{}
}


@media only screen and (max-width: 991px){
	.listings{
		padding: 180px 0 80px 0;

		&__dropdown{
			padding:30px 20px;
			border-right:none;
		}
	}
}

@media only screen and (max-width: 767px) {
	.listings{

	}
}
@media only screen and (max-width: 575px) {
	.listings{}
}