/*
 * Page Header section styling
 */

.page-header {
	z-index: 1;
	padding-top: 110px;
	position: relative;
	color: $white;
	background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
	&__body{
		padding: 25px 0;
		border-top: 1px solid $light-gray;
	}
	&__title_text-end{
		text-align: right;
	}
}


@media only screen and (max-width: 1199px){
	.page-header{}
}

@media only screen and (max-width: 991px){
	.page-header{}
}

@media only screen and (max-width: 767px){
	.page-header{}
}

@media only screen and (max-width: 575px){
	.page-header{}
}
